body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

input {
  padding: 8px;
  margin-top: 10px;
}

#game {
  margin-top: 20px;
}